<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="tempStyle.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
  <nav class = "navigation">
    <label class = "welcomeLabel">Welcome</label>
    <div class = "informationLabel">
    <label>Contact Us</label>
    <label>About Us</label>
    </div>
  </nav>
</header>

<div class = "mainHeader">
<h1>Welcome To My Website!</h1>
</div>

<div class = "mainHeaderDiv">
<div class = "formDiv">
  <h1>Register</h1>
  <form>
    <input placeholder="Enter Your Name" type="text" class = "inputFromUser" required/>
    <br>
    <input placeholder="Enter Your Email" type="email" class = "inputFromUser" required/>
    <br>
    <input type="submit" value="submit" class = "submitBtn">
    <br>
    <input type="reset" value="reset" class = "submitBtn">
    <br>
  </form>
</div>

<div class = "formDiv">
  <h1>Log In</h1>
  <form>
    <input placeholder="Enter Your Name" type="text" class = "inputFromUser" required/>
    <br>
    <input placeholder="Enter Your Email" type="email" class = "inputFromUser" required/>
    <br>
    <input type="submit" value="submit" class = "submitBtn">
    <br>
    <input type="reset" value="reset" class = "submitBtn">
    <br>
  </form>
</div>

<div class = "formDiv">
  <h1> View List Of Students</h1>
  <p> View list of all active students in our website!</p>
  <form>
    <input type = "submit" value = "View List">
  </form>
</div>
</div>

</body>
</html>